@import url("observablehq:default.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
/* @import url("./abstract-light.css"); */

:root {
    --theme-foreground: #1b1e23;
    --theme-foreground-focus: #3b5fc0;
    --theme-background-a: #ffffff;
}

:root {
    --theme-background-b: color-mix(in srgb, var(--theme-foreground) 4%, var(--theme-background-a));
    --theme-background: var(--theme-background-a);
    --theme-background-alt: var(--theme-background-b);
    --theme-foreground-alt: color-mix(in srgb, var(--theme-foreground) 90%, var(--theme-background-a));
    --theme-foreground-muted: color-mix(in srgb, var(--theme-foreground) 60%, var(--theme-background-a));
    --theme-foreground-faint: color-mix(in srgb, var(--theme-foreground) 50%, var(--theme-background-a));
    --theme-foreground-fainter: color-mix(in srgb, var(--theme-foreground) 30%, var(--theme-background-a));
    --theme-foreground-faintest: color-mix(in srgb, var(--theme-foreground) 14%, var(--theme-background-a));
    color-scheme: light;
}

:root {
    --syntax-keyword: #d73a49;
    --syntax-entity: #6f42c1;
    --syntax-constant: #005cc5;
    --syntax-string: #032f62;
    --syntax-variable: #e36209;
    --syntax-comment: var(--theme-foreground-muted);
    --syntax-entity-tag: #22863a;
    --syntax-storage-modifier-import: #24292e;
    --syntax-markup-heading: #005cc5;
    --syntax-markup-list: #735c0f;
    --syntax-markup-italic: #24292e;
    --syntax-markup-bold: #24292e;
    --syntax-markup-inserted: #22863a;
    --syntax-markup-inserted-background: #f0fff4;
    --syntax-markup-deleted: #b31d28;
    --syntax-markup-deleted-background: #ffeef0;
}




.filter-selected {
    text-wrap:nowrap;
    overflow:hidden;
    display:flex;
    align-items:center;
}

.dropdown-action-buttons-container {
    padding:10px;
}

.dropdown-action-buttons {
    width:100%;
}

.dropdown-action-buttons button {
    width:50%;
    font-size:14px;
    height:30px;
    background-color:#E9E9E9;
}

.dropdown-list a {
    width:100%;
    display:flex;
    align-items:center;
    min-height:14px!important;
}

.dropdown-list .text {
    width:90%;
}

.dropdown-inner {
    border:1px #ccc solid;
    border-radius:4px;
    background-color:white;
    margin-top:5px;
    position:absolute;
    z-index:2000;
}


.dropdown-list .checkmark {
    width:10%;
}

.dropdown-list {
    padding:0px;
    margin:0px;
    line-height:0px;
    list-style: none;
}

.dropdown-list li {
    display:flex;
    align-content:center;
    min-height:35px;
    font-size:15px;
}

li .checkmark {
    display:none;
    float:right;
    padding-right:5px;
}

li.selected .checkmark {
    display:flex!important;
}

.dropdown-list li:hover {
    background-color:whitesmoke!important;
    cursor:pointer;
}
.dropdown-list>li>a {
    padding: 10px 20px!important;
    white-space: nowrap;
}

.dropdown-form button {
    background-color:white!important;
    color: #333!important;
    border:1px #ccc solid!important;
    border-radius:4px!important;
    cursor:pointer;
}


.dropdown-button button {
    width:100%!important;
    height:35px!important;
}